nav{
  height: 120px;
  width: auto;
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav span{
  padding: 1.5em;
}

.write.new{
  font-family: 'Source Sans Pro', sans-serif;
}